# Establece el comportamiento para todos los archivos de texto
* text=auto
# Especifica qué archivos deben tratarse como binarios (evita conversión de líneas)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.zip binary
*.exe binary
*.mp4 filter=lfs diff=lfs merge=lfs -text
